@import "../sass/variables";

.chess-clock {
  position: relative;
  .player-1,
  .player-2 {
    width: 100%;
    height: 50vh;
    font-size: 45px;
    position: relative;
    text-align: center;
    outline: 1px solid $base_2;
  }
  .navigation {
    ul {
      text-align: center;
      padding: 0;
      margin: 0;
      li {
        width: 50px;
        height: 50px;
        color: $base_1;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        position: relative;
        border: 1px solid $base_2;
        background-color: $primary;
      }
    }
  }
  .active {
    background-color: $primary;
  }
}
// Icons
.icon {
  top: 10px;
  left: 0;
  right: 0;
  width: $icon_size;
  height: $icon_size;
  display: inline-block;
  position: absolute;
  margin: auto;
}
.icon-pause {
  width: $icon_size/1.8;
  position: absolute;
  border-left: $icon_size/7 solid $base_1;
  border-right: $icon_size/7 solid $base_1;
}
.icon-play {
  margin-left: 16px;
  border: $icon_size/2 solid transparent;
  border-left: $icon_size/1.5 solid $base_1;
}
.icon-gear {
  border-radius: 50%;
  border: $icon_size/5 solid $primary;
  background-color: white;
  &:before,
  &:after {
    content: '×';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    font-size: $icon_size*1.8;
    font-weight: bold;
    font-family: "times new roman";
    transform: translate(-50%,-50%);
    color: $base_1;
  }

  &:after {
    transform: translate(-50%,-50%) rotate(45deg);
  }
}
.icon-reload {
  padding-top: 3px;
  &:before,
  &:after {
    content: "";
    display: block;
  }
  &:before {
    border-color: transparent white white white;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    width: $icon_size/1.2;
    height: $icon_size/1.2;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &:after {
    top: -1px;
    left: 40%;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-width: $icon_size/4.2 0 $icon_size/4.2 $icon_size/4.2;
  }
}
@-webkit-keyframes rotate {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  100% { transform: rotate(360deg); }
}
